// app global css in SCSS form

.app-card {
  background: #fff;

  .app-card__content {
    min-height: 70vh;
    max-height: 90vh;
    overflow: auto;
  }
}

.app-item-card {
  min-width: 500px;
}


@media screen and (max-width: 1023px) {
  .no-padding-sm {
    padding: 0;
  }

  .app-item-card {
    min-width: 98vw;
    max-width: 98vw;
  }

  .app-card {
    height: 100vh;

    .app-card__content {
      min-height: calc(100vh - 100px);
    }
  }
}